* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 18px;
  font-family: $bodyfontfamily;
  overflow-x: hidden;
  .right_bg {
    right: 0;
    width: 50%;
    height: 50%;
    z-index: -10;
    border-bottom-left-radius: 60px;
    position: absolute;
    background-color: $lightGrayishBlue;
  }
}
main {
  padding-left: 14%;
  padding-top: 2%;
  @include flexbox(row, space-between, center);
  section {
    &:nth-child(1) {
      height: 60vh;
      width: 50%;
      @include flexbox(column, center, flex-start);
      p {
        &:nth-child(1) {
          letter-spacing: 2px;
          font-size: 15px;
          color: $grayishBlue;
          width: 100%;
          margin-bottom: 1em;
          span {
            color: $lightGrayishBlue;
            padding: 0.5% 1%;
            border-radius: 10px;
            letter-spacing: 0;
            margin-right: 1%;
            font-size: 13px;
            font-weight: bold;
            background-color: $veryDarkBlue;
          }
        }
      }
      h1 {
        font-weight: bold;
        font-size: 60px;
        margin-bottom: 0.4em;
        color: $veryDarkBlue;
        font-family: $headerfontfamily;
      }
      .p {
        color: $grayishBlue;
        font-weight: 500;
        margin-bottom: 3em;
      }
      div {
        @include flexbox(row, space-between, center);
        height: 2.5em;
        width: 60%;
        // font-size: 17px;
        button {
          height: 100%;
          width: 50%;
          background-color: $primaryRed;
          border: none;
          color: $lightGrayishBlue;
          font-weight: 700;
          font-size: 15px;
          border-radius: 5px;
          &:hover {
            filter: brightness(120%) saturate(120%);
          }
        }
        p {
          color: $grayishBlue;
          letter-spacing: 1.5px;
        }
      }
    }
    &:nth-child(2) {
      position: relative;
      height: 60vh;
      width: 50%;
      img {
        position: absolute;
        right: -1;
      }
    }
  }
}
@media screen and (max-width: 380px) {
  body {
    position: relative;
    height: 100vh;
    width: 100vw;
    // padding-left: 10%;
  }
  main {
    overflow-x: hidden;
    padding-top: 15vh;
    // padding-left: 10%;
    @include flexbox(column-reverse, flex-start, center);
    section {
      &:nth-child(2) {
        width: 100vw;
        height: 50%;
        img {
          position: relative;
          height: 30vh;
        }
      }
      &:nth-child(1) {
        // background-color: orange;
        width: 100vw;
        margin-top: 0;
        p {
          &:nth-child(1) {
            span {
              margin-right: 10px;
            }
          }
        }
        h1 {
          font-size: 40px;
        }
        div{
        @include flexbox(row, flex-start, center);
          width: 90vw;
          height: 2.2em;
          button{
            font-size: 12px;
            width: 40%;
            margin-right: 10px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}
