* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

body .right_bg {
  right: 0;
  width: 50%;
  height: 50%;
  z-index: -10;
  border-bottom-left-radius: 60px;
  position: absolute;
  background-color: #eef3f6;
}

main {
  padding-left: 14%;
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-child(1) {
  height: 60vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section:nth-child(1) p:nth-child(1) {
  letter-spacing: 2px;
  font-size: 15px;
  color: #a0a1ac;
  width: 100%;
  margin-bottom: 1em;
}

main section:nth-child(1) p:nth-child(1) span {
  color: #eef3f6;
  padding: 0.5% 1%;
  border-radius: 10px;
  letter-spacing: 0;
  margin-right: 1%;
  font-size: 13px;
  font-weight: bold;
  background-color: #242942;
}

main section:nth-child(1) h1 {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0.4em;
  color: #242942;
  font-family: "Barlow Condensed", sans-serif;
}

main section:nth-child(1) .p {
  color: #a0a1ac;
  font-weight: 500;
  margin-bottom: 3em;
}

main section:nth-child(1) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  width: 60%;
}

main section:nth-child(1) div button {
  height: 100%;
  width: 50%;
  background-color: #ff5c5c;
  border: none;
  color: #eef3f6;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
}

main section:nth-child(1) div button:hover {
  -webkit-filter: brightness(120%) saturate(120%);
          filter: brightness(120%) saturate(120%);
}

main section:nth-child(1) div p {
  color: #a0a1ac;
  letter-spacing: 1.5px;
}

main section:nth-child(2) {
  position: relative;
  height: 60vh;
  width: 50%;
}

main section:nth-child(2) img {
  position: absolute;
  right: -1;
}

@media screen and (max-width: 380px) {
  body {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  main {
    overflow-x: hidden;
    padding-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section:nth-child(2) {
    width: 100vw;
    height: 50%;
  }
  main section:nth-child(2) img {
    position: relative;
    height: 30vh;
  }
  main section:nth-child(1) {
    width: 100vw;
    margin-top: 0;
  }
  main section:nth-child(1) p:nth-child(1) span {
    margin-right: 10px;
  }
  main section:nth-child(1) h1 {
    font-size: 40px;
  }
  main section:nth-child(1) div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    height: 2.2em;
  }
  main section:nth-child(1) div button {
    font-size: 12px;
    width: 40%;
    margin-right: 10px;
  }
  main section:nth-child(1) div p {
    font-size: 12px;
  }
}

nav {
  width: 100%;
  padding: 5% 15%;
  font-family: "Barlow Condensed", sans-serif;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .burger {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-weight: bold;
  width: 40%;
}

nav ul li:nth-child(4) {
  height: 7px;
  width: 7px;
  border-radius: 10px;
  background-color: #a0a1ac;
}

nav ul li:nth-child(5) {
  color: #a0a1ac;
}

@media screen and (max-width: 380px) {
  nav {
    width: 100vw;
    overflow-x: hidden;
    padding: 5% 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 50vh;
    position: absolute;
    z-index: 19;
    top: 0;
  }
  nav div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex;
            flex-direction: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav div .burger {
    display: block;
  }
  nav div .open {
    display: block;
  }
  nav div .close {
    display: none;
    z-index: 99;
  }
  nav ul {
    background-color: #fff;
    -webkit-box-shadow: -5px 4px 13px 1px rgba(0, 0, 0, 0.25);
            box-shadow: -5px 4px 13px 1px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70%;
    width: 90%;
    margin-top: 2em;
    font-size: 18px;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  nav ul li:nth-child(4) {
    width: 80%;
    height: 1.5px;
    background-color: #eef3f6;
  }
}

.navlinksActive {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navlinksInactive {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}
/*# sourceMappingURL=style.css.map */